@model IEnumerable<LearningPlatform.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lesson_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lesson_content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lesson_duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lesson_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lesson_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lesson_duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.lesson_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.lesson_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.lesson_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
