@model LearningPlatform.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.language_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.language_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_level)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.course_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
